@import "../../../globalstyled/globalStyle.scss";

.DivDestination {
  // background-image: url(../../../assets/background_desktop/destiantion_background.png);
  color: white;
  padding: 100px 164px 120px 210px;

  &__body {
    display: flex;
    justify-content: space-around;
    gap: 157px;
  }

  &__titleAndImg {
    display: flex;
  
  }

  &__title {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;

    h3{
        color: gray;
        font-size: $size-destinationValues;
        font-family: $font-destinationSubTitleInfo;
        font-weight: 200;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;
    }
  }
    
   
    &__02{
      font-size: $size-destinationValues;
      font-family: $font-destinationSubTitleInfo;
      font-weight: 200;
      line-height: 34px;
      letter-spacing: 4.725px;
      text-transform: uppercase;
    }
  

  &__information {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__paragraph {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: $size-destinationTitle;
      font-family: $font-destinationValues;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      width: 444px;
      line-height: 32px;
      font-weight: 400;
      padding: 0px 0px 54px 0px;
      color: #D0D6F9;
     font-family: $font_Parrafo;
    }

    hr{
        width: 444px;
        height: 2px;
        border-color: #6f717a;
        background-color: #6f717a;
    }
  }

  &__paragraph1 {
    display: flex;
    padding: 28px 0px 0px 0px;
    gap: 125px;

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h5 {
        font-family: $font-destinationSubTitleInfo;
        font-size: $size-destinationSubTitleInfo;
        letter-spacing: 2.3625px;
        line-height: 17px;
        text-transform: uppercase;
        font-weight: 400;
        color: #D0D6F9;
      }

      h4 {
        font-family: $font-destinationValues;
        font-size: $size-destinationValues;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}


.divLinksDestination{
  display: flex;
 margin-bottom: 62px;
 margin-left: 650px;
 
  ul{
      display: flex;
      list-style: none;
      gap: 35px;
     

      li{
          list-style: none;
          text-decoration: none;
          font-family: $font-destinationSubTitleInfo;
          padding-bottom: 12px;
          cursor: pointer;

          &:hover{
            border-bottom: 2px solid #D0D6F9;
          }
          
      }
      a{
          color: $lilac-colorParrafos;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 2.7px;
          
      }
  }
}

@media (max-width:768px ) {
  .DivDestination{
    padding: 20px 20px 50px 20px;
    &__body{
      flex-direction: column;
      gap: 0px;
      justify-content: center;
      align-items: center;
    }

    &__title{
      padding-top: 80px;
      h3{
        font-size: 20px
      }
    }
    &__02{
      font-size: 20px;
    }

    &__titleAndImg{
      padding: 50px 0px 130px 0px;

      img{
        width: 457px;
        height: 457px;
      }
    }

    &__information{
      justify-content: center;
      gap: 0px;
    }

    &__paragraph{

      h2{
        text-align: center;
        font-size: 80px;
      }
      p{ 
        width: 573px;
        font-size: 16px;
        text-align: center;
      }

      hr{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 60px;
      }
    }

    &__paragraph1{

      div{
        align-items: center;
        justify-content: center;
        padding-left: 60px;
      }
    h5{
      font-size: 14px;
    }

    h4{
      font-size: 28px;
    }
    }
  }

  .divLinksDestination{
    margin: 0;
    position: absolute;
    margin-top: 550px;
    margin-left: 240px;
  }
}


@media (max-width:376px ){
 
.DivDestination{

  &__title{
    margin-left: 130px;
    width: 400px;
  }

  &__titleAndImg{
    


    img{
      width: 300px;
      height: 300px;
      margin-left: 350px;
    }
   
  }

  &__title{
    // padding-top: 80px;
    justify-content: center;
  }


  &__body{
    justify-content: center;
  }

  &__information{
    padding-left: 340px;
  }

  &__paragraph{
    p{
      width: 327px;
      font-family: 15px;
      margin-left: 90px;
    }
  }
  &__paragraph1{
    flex-direction: column;
    gap: 40px;
    margin-right: 30px;
  }
}
.divLinksDestination{
  margin-top: 380px;
  margin-left: 175px;
  font-size: 25px;

}
}