

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_desktop/home_background.png);
    // background-repeat: no-repeat;
    // padding-left: 55px;
    // padding-top: 64px;
  }
  .home__Main {
    display: flex;
    justify-content: space-around;
    // align-items: end;
    padding-top: 150px;
  
  }

@media (max-width:768px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_table/background_table.png);
    
  }
  .home__Main {
    display: flex;
    gap: 391px;
    padding-top: 150px;
  
  }
}
@media (max-width:375px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_table/background_table.png);
    
  }
 
}
