
@media screen and (min-width: 1246px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_desktop/home_background.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    padding-top: 64px;
  }
  .home__Main {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-top: 150px;
  
  }
}
@media (min-width:769px ) {
  body {
    background-image: url(../../assets/background_desktop/home_background.png);
  }
  .home__Main {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 150px;
    background-color: rgb(249, 71, 71);
  
  }
  
}
@media (max-width:768px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_table/background_table.png);
    background-repeat: no-repeat;
    background-color: rgb(1, 7, 38);
    // padding-left: 5px;
    // padding-top: 64px;
  }
  .home__Main {
    display: flex;
    // gap: 391px;
    // padding-top: 150px;
  
  }
}
@media (max-width:375px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../../assets/background_table/background_table.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    padding-top: 64px;
  }
  .home__Main {
    display: flex;
    gap: 391px;
    padding-top: 150px;
  

    justify-content: space-around;
    padding-top: 165px;
    align-items:flex-end;
  }
}
