@import "../../globalstyled/globalStyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


// @media (min-width: 1300px) {
    .container {
        background-color: white;
        width: 274px;
        height: 274px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .hoverExplore{
            visibility: hidden;
            position: absolute;
            right: 110px;
        }

        &:hover {
            .hoverExplore {
                visibility: visible;
            }
        }

        h5 {
            font-size: 36px;
            font-family: 'Bellefair';
            font-weight: 400;
            color: $dark-color;
            z-index: 5;
        }
        


    }


    @media (max-width:768px) {
        .container {
            background-color: white;
            width: 242px;
            height: 242px;
            right: 200px;
            top: 532px;

            .hoverExplore{
                right: 155px; 
            }


            h5 {
                font-size: 36px;
                font-family: 'Bellefair';
                font-weight: 400;
                color: $dark-color;
            }
        }
    }

    @media (max-width:376px) {
        .container {
            background-color: white;
            width: 242px;
            height: 242px;
            right: 200px;
            top: 532px;

            .hoverExplore{
                right: -250px; 
            }
    }
    }