@import "../globalstyled/globalStyle.scss";

.containerTechnology {
  display: flex;
  flex-direction: column;
  padding: 76px 0px 0px 150px;
  color: white;

  &__subtitle {
    display: flex;
    align-items: center;
    gap: 24px;

    h3 {
      font-size: 28px;
      font-family: $font-technologyTterminology;
      font-weight: 400;
      letter-spacing: 2.7px;
      line-height: 19px;
      color: gray;
    }

    h4 {
      font-size: 28px;
      font-family: $font-technologyTterminology;
      font-weight: 400;
      letter-spacing: 2.7px;
      line-height: 19px;
    }
  }

  &__map {
    display: flex;
    color: white;
    gap: 80px;
    padding: 100px 0px 0px 0px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 120px;
    button {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      color: white;
      font-size: $size-technologyNumber;
      font-weight: 400;
      font-family: $font-technologyNumber;
      border: solid 1px #d0d6f9;
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 17px;

    h6 {
      font-size: $size-technologyTerminology;
      font-family: $font-technologyTterminology;
      font-weight: 400;
      letter-spacing: 2.7px;
      color: $lilac-colorParrafos;
      text-transform: uppercase;
    }

    h1 {
      font-size: 56px;
      font-family: $font-technologyNumber;
      line-height: 64px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      font-family: $font_Parrafo;
      font-weight: 400;
      color: $lilac-colorParrafos;
      width: 444px;
      line-height: 32px;
    }
  }

  &__img {
    width: 600px;
    padding: 0px 0px 50px 0px;
  }
  &__responsive {
    display: none;
  }
}

.containerTechnology__button button.activetechno {
  background-color: white;
  color: black;
}

@media (max-width: 375px) {
  .containerTechnology {
    display: flex;
    &__subtitle {
      display: flex;
      width: 400px;
      position: absolute;
      top: 100px;
      left: 60px;
      align-items: center;
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 24px;
      }
    }
    &__img {
      display: flex;
    }
    &__noresponsive {
      img {
        display: none;
      }
    }
    &__responsive {
      display: flex;
      position: absolute;
      top: 140px;
      left: 0px;
      img {
        width: 375px;
      }
    }
    &__button {
      display: flex;
      flex-direction: row;
      gap: 30px;
      position: absolute;
      top: 200px;
      left: 60px;
    }
    &__paragraph {
      display: flex;
      text-align: center;
      position: absolute;
      top: 360px;
      left: 20px;
      padding-top: 50px;
      h1 {
        font-size: 35px;
      }
      p {
        width: 340px;
      }
    }
  }
}

@media (max-width: 768px) {
  .containerTechnology {
    display: flex;
    &__subtitle {
      display: flex;
      position: absolute;
      top: 200px;
      left: 50px;
    }
    &__noresponsive {
      img {
        display: none;
      }
    }
    &__responsive {
      display: flex;
      position: absolute;
      top: 270px;
      left: 0px;
      img {
        width: 768px;
      }
    }
    &__button {
      display: flex;
      flex-direction: row;
      position: absolute;
      z-index: 500;
      top: 500px;
    }
    &__paragraph {
      display: flex;
      text-align: center;
      position: absolute;
      top: 600px;
      left: 100px;
      p {
        width: 500px;
      }
    }
  }
}
