@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$size_Title:150px;
$font_Title:"Bellefair";
$size_SubTitle:28px;
$size_Parrafo:18px;
$font_Subtitle: "Barlow Condensed";
$font_Parrafo:"Barlow";
$color_FontWhite: #FFFFFF;
$font_circle:32px;
